.container-fixed {
	margin: 0 auto;
  	max-width: 1366px;
}

div#designer {
	width: 1366px;
	
	#design {
		width: 1026px;
		float: left;
		
		form {
			div.move {
				display: none;
			}
			
			div.selected {
				background-color: #ec971f;
			}
		}
	}
	
	#tools {
		width: 320px;
		margin: 0px 10px;
		float: left;
		
		div.row {
			padding-bottom: 10px;
		}
	}
	
	#ribbon {
		width: 320px;
		margin: 0px 10px;
		float: left;
		
		ul.nav-tabs {
			margin-bottom: 10px;
		}
		
		div.content {
			display: none;
			
			p.unsaved {
				display: none;
			}
		}
		
		div.open {
			display: block;
		}
		
		fieldset {
		
			legend {
				margin-bottom: 10px;
			
			}
			
			div.form-group {
				margin-bottom: 5px;
			}
		}
	}
}