div#designer {
	max-width: 970px;
	
	.well {
		margin-bottom: 0px;
	}

	#design {
		max-width: 970px;
		margin-bottom: 1em;

		&> div.library {
			min-height: 200px;

			ul.pager {
				margin: 0;
				text-align: right;
			}
		}
		
		&> div.website-manager {
			h3 {
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	
	.tools {
		margin-bottom: 1em;
	
		.row {
			margin-bottom: 0.5em;
			
			&:last-child {
				margin-bottom: 0px;
			}
		}		
	}
	
	legend {
		padding: 0.3em 0px;
		margin-bottom: 0.3em;
	}
	
	.ribbon {
		ul.nav-tabs {
			margin-bottom: 0.5em;
		}

		div.content {
			display: none;

			p.unsaved {
				display: none;
			}
		}

		div.open {
			display: block;
		}
	}
}
