.container-fixed {
	margin: 0 auto;
  	max-width: 1366px;
  	padding: 0px 15px;
}

div#designer {
	width: 1336px;
	float: left;
	
	#design {
		width: 996px;
		float: left;
		
		> div.builder-form {
		
			> form {
			
				div.move {
					display: none;
				}
				
				div.selected {
					background-color: #e1dc50;
				}
			}
		}
		
		> div.website-manager {
			
			h3 {
				cursor: pointer;
			}
		}
	}
	
	#filter {
		width: 320px;
		margin: 0px 10px;
		float: left;
		
		div.row {
			padding-bottom: 10px;
		}
	}
	
	#tools {
		width: 320px;
		margin: 0px 10px;
		float: left;
		
		div.row {
			padding-bottom: 10px;
		}
	}
	
	#ribbon {
		width: 320px;
		margin: 0px 10px;
		float: left;
		
		ul.nav-tabs {
			margin-bottom: 10px;
		}
		
		div.content {
			display: none;
			
			p.unsaved {
				display: none;
			}
		}
		
		div.open {
			display: block;
		}
		
		fieldset {
		
			legend {
				margin-bottom: 10px;
			
			}
			
			div.form-group {
				margin-bottom: 5px;
				
				div.color_picker {
					border: 1px solid #CCC;
					border-radius: 3px;
					height: 22px;
					float: left;
					clear: left;
					cursor: pointer;
				}
			}
		}
	}
}

div.color_picker_tool {
	display: none;
	
	div.panel-body {
		
		div.palette {
			float: left;
			width: 100%;
			
			h5 {
				margin: 10px 0px 5px 0px;
			}
			
			div.color {
				border-radius: 3px;
				border: 1px solid #CCC;
				cursor: pointer;
			}
		}
		
		div.history {
			float: left;
			width: 100%;
			
			div.color {
				border-radius: 3px;
				border: 1px solid #CCC;
				cursor: pointer;
			}
		}
		
		div.custom {
			float: left;
			width: 100%;
		}
	}
}