@mixin selected-state() {
	border: 1px solid #93d0e1;
}

@mixin mover() {
	text-align: center;
	font-size: 12px;
	border: 1px solid #cccccc;
	color: #333333;
	padding: 2px 0;
	border-radius: 4px;
	cursor: pointer;
	background-color: #FFFFFF;
	clear: left;
	height: 24px;
	font-weight: 400;
	display: none;
}

div#designer {
	max-width: 1170px;
	
	.well {
		margin-bottom: 0;
	}

	.design {
		margin-bottom: 1em;		
		
		div.builder-form {
            background-color: #F7F7F7;

			div.move {
				display: none;
			}

			div.selected {
				@include selected-state();
			}
		}
		
		div.content-manager {
			div.page-min-height {
				min-height: 500px;
			}

			div.selected {
				@include selected-state();
			}

			div.column > p.selected {
				@include selected-state();
			}

			div.column.selected > hr {
				height: 60px;
			}

			div.column > h1.selected, h2.selected, h3.selected, h4.selected, h5.selected, h6.selected {
				@include selected-state();
			}

			div.row-mover {
				@include mover();

				&:hover {
					background-color: #e6e6e6;
				}
			}

			div.column-mover {
				@include mover();

				&:hover {
					background-color: #e6e6e6;
				}
			}

			div.content-mover {
				@include mover();

				&:hover {
					background-color: #e6e6e6;
				}
			}

			div.row.empty {
				& > p {
					padding: 3em 2em;
				}
			}

			div.column.empty {
				& > p {
					padding: 1em 0;
				}
			}
		}

		div.form-builder {

			div.selected {
				@include selected-state();
			}

			div.field-mover {
				@include mover();

				&:hover {
					background-color: #e6e6e6;
				}
			}
		}
	}
	
	.tools {
		margin-bottom: 1em;
	
		.row {
			margin-bottom: 0.5em;
			
			&:last-child {
				margin-bottom: 0;
			}
			
			h4 {
				margin-top: 0.3em;
				&:hover {
					cursor: pointer;
				}
			}
			
			.btn-sm {
				margin-bottom: 5px;
			}
		}						
	}

	legend {
		border: none;
		display: block;
		float: left;
		line-height: 1.1;
	}

	.ribbon {
		.nav {
			& > li {
				& a {
					padding: 0.3em 0.5em;
				}
			}

			& > li#tab_column {
				& span.glyphicon {
					transform: rotate(90deg);
				}
			}

			& > li#tab_add-column {
				& span.glyphicon {
					transform: rotate(90deg);
				}
			}
		}

        .nav-tabs {
            border: none;
        }

		div.content {
			display: none;
			background-color: #f8f8f8;
			border-radius: 5px;
			border: 1px solid #ddd;

			p.unsaved {
				display: none;
				margin-top: 1em;
			}
            
            div.form-group-collapsed {
                & > label:hover {
                    cursor: pointer;
                }
            
                & > input {
                    display: none;
                }
                
                & > p.help-block {
                    display: none;
                }
            }
            
            .further-reading {
                padding-bottom: 2em;

                div.well {
                    background-color: #FFFFFF;
                }
            }

			a {
				text-decoration: none;
			}
		}

		div.open {
			display: block;
		}
		
		div.cancel-button {
			margin-bottom: 1em;
		}
	}
}
