/* Base styles */
.container-970 {
	max-width: 970px;
	margin: 0 auto;
}
.container-1170 {
	max-width: 1170px;
	margin: 0 auto;
}

/* Content */
ul.listing {
	li {
		padding: 0.3em 0;
	}
}

.further-reading {
	padding-top: 1em;
}

p.dev-note {
	padding: 0.7em;
	border-radius: 3px;
}


fieldset {
	legend {
		font-size: 24px;
		font-weight: 500;
		margin-top: 20px;
		margin-bottom: 10px;

		small {
			font-size: 15.6px;
			color: #777;
			font-weight: normal;
		}
	}

	div.form-group {
		label.required:after {
			content: ' (required)';
			display:inline;
			color: #d9534f;
			font-weight: normal;
			font-size: 12px;
		}
	}
}
