/* Base styles */
.container-970 {
	max-width: 970px;
	margin: 0 auto;
}
.container-1170 {
	max-width: 1170px;
	margin: 0 auto;
}

/* Content */
ul.listing {
	li {
		padding: 0.2em 0;
	}
}

.further-reading {
	padding-top: 1em;
}

.footer {
	padding-top: 2em;
}

p.dev-note {
	padding: 15px;
}

/* Settings */
.settings-menu {
	padding-top: 2em;
	
	a.active {
		font-weight: 600;
	}
}

div.heading-styles {
	padding-top: 2em;
	border-top: 1px solid #e5e5e5;

	div.form-group {
		margin: 0 1em 1em 0;

		input.font_sizes {
			width: 90px;
		}

		input.font_colors {
			width: 50px;
		}
	}
}

/* Forms */
ul.alert-danger {
	list-style-type: none;
	padding: 0.5em;
	margin: 0;
}

fieldset {

	legend {

		small {
			font-size: 65%;
			color: #777;
		}
	}

	div.form-group {

		label.required:after {
			content: ' (required)';
			display:inline;
			color: #d9534f;
			font-weight: normal;
			font-size: 12px;
		}
	}
}
