/**
* Styles for the content manager settings section
* 
* @author Dean Blackborough <dean@g3d-development.com>
* @copyright G3D Development Limited
* @version $Id: content.css 1449 2014-01-24 00:43:31Z Dean.Blackborough $
*/

/* Heading forms */
#content > .headings > .heading form {
    width: 566px;
    margin-bottom: 10px;
}
#content > .headings > .heading form fieldset {
    margin: 0px;
    border: none;
    background-color: #f5f5f5;
    padding: 10px 0px 0px 10px;
    border: 1px solid #b4b4b4;
    width: 554px;
}
#content > .headings > .heading form fieldset .save {
    float: right;
    padding: 5px 5px 15px 5px;
    width: 544px;
}

/* Heading previews */
#content > .headings > .heading > .preview {
    width: 190px;
    margin: 50px 0px 0px 10px;
}
#content > .headings > .heading > .preview > h2 {
	width: 190px;
    text-align: center;
}

/* Base font preview */
#content .font_preview > p {
    color: #366092;
}