.container-fixed {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0px 15px; }

div#designer {
  width: 1336px;
  float: left; }
  div#designer #design {
    width: 996px;
    min-height: 500px;
    float: left; }
    div#designer #design > div.builder-form > form div.move {
      display: none; }
    div#designer #design > div.builder-form > form div.selected {
      border: 1px solid #93d0e1; }
    div#designer #design > div.website-manager h3 {
      cursor: pointer; }
    div#designer #design > div.library ul.pager {
      margin: 0;
      text-align: right; }
    div#designer #design > div.template-designer div.selected {
      border: 1px solid #93d0e1; }
      div#designer #design > div.template-designer div.selected div.horizontal-splitter {
        float: left;
        display: block;
        border-bottom: 1px dashed #FFFFFF; }
    div#designer #design > div.template-designer div.tool-horizontal-split:hover {
      cursor: ns-resize; }
    div#designer #design > div.template-designer div.selectable {
      cursor: pointer; }
    div#designer #design > div.content-manager div.selected-area {
      border: 1px solid #93d0e1; }
      div#designer #design > div.content-manager div.selected-area div.horizontal-splitter {
        float: left;
        display: block;
        border-bottom: 1px dashed #FFFFFF; }
    div#designer #design > div.content-manager div.selected-row {
      border: 1px solid #93d0e1; }
      div#designer #design > div.content-manager div.selected-row div.move {
        width: 100%;
        float: left;
        display: none; }
      div#designer #design > div.content-manager div.selected-row div.imported-form > div {
        width: 100%;
        float: left; }
    div#designer #design > div.content-manager .selected-item {
      border: 1px solid #93d0e1; }
    div#designer #design > div.content-manager div.selectable {
      cursor: pointer; }
    div#designer #design > div.content-manager div.row.selectable > div.move {
      width: 100%;
      float: left;
      display: none; }
  div#designer #filter {
    width: 320px;
    margin: 0px 10px;
    float: left; }
    div#designer #filter div.row {
      padding-bottom: 10px; }
  div#designer #tools {
    width: 320px;
    margin: 0px 10px;
    float: left; }
    div#designer #tools div.row {
      padding-bottom: 10px; }
      div#designer #tools div.row .btn-group .btn {
        margin-bottom: 2px; }
    div#designer #tools h4 {
      margin: 0px 0px 5px 0px;
      cursor: pointer; }
  div#designer #return {
    width: 320px;
    margin: 0px 10px 10px 10px;
    float: left; }
  div#designer #content-block-metrics {
    width: 320px;
    margin: 0px 10px;
    float: left; }
    div#designer #content-block-metrics .metrics-title {
      cursor: pointer; }
    div#designer #content-block-metrics .metrics {
      display: none;
      cursor: pointer;
      margin-bottom: 15px; }
      div#designer #content-block-metrics .metrics ul {
        padding: 15px 0px 15px 40px; }
  div#designer #ribbon {
    width: 320px;
    margin: 10px 10px 0px 10px;
    float: left; }
    div#designer #ribbon ul.nav-tabs {
      margin-bottom: 10px; }
      div#designer #ribbon ul.nav-tabs > li > a {
        padding: 5px 10px; }
    div#designer #ribbon div.content {
      display: none; }
      div#designer #ribbon div.content p.unsaved {
        display: none; }
      div#designer #ribbon div.content div.col-xs-7 h4 {
        margin-top: 0px; }
      div#designer #ribbon div.content div.col-xs-12 h3 {
        margin-top: 0px; }
      div#designer #ribbon div.content div.col-xs-12 h2 {
        margin-top: 0px; }
    div#designer #ribbon div.open {
      display: block; }
    div#designer #ribbon fieldset legend {
      margin-bottom: 10px; }
    div#designer #ribbon fieldset div.form-group {
      margin-bottom: 5px; }
      div#designer #ribbon fieldset div.form-group label.required:after {
        content: ' *';
        display: inline;
        color: #d9534f; }
      div#designer #ribbon fieldset div.form-group div.color_picker {
        border: 1px solid #CCC;
        border-radius: 3px;
        height: 22px;
        float: left;
        clear: left;
        cursor: pointer; }

div.color_picker_tool {
  display: none; }
  div.color_picker_tool div.panel-body div.palette {
    float: left;
    width: 100%; }
    div.color_picker_tool div.panel-body div.palette h5 {
      margin: 10px 0px 5px 0px; }
    div.color_picker_tool div.panel-body div.palette div.color {
      border-radius: 3px;
      border: 1px solid #CCC;
      cursor: pointer; }
  div.color_picker_tool div.panel-body div.history {
    float: left;
    width: 100%; }
    div.color_picker_tool div.panel-body div.history div.color {
      border-radius: 3px;
      border: 1px solid #CCC;
      cursor: pointer; }
  div.color_picker_tool div.panel-body div.custom {
    float: left;
    width: 100%; }

div.image-picker-tool {
  display: none; }
  div.image-picker-tool span.clear-image-picker-value {
    cursor: pointer; }
  div.image-picker-tool span.close-image-picker {
    cursor: pointer; }

/*# sourceMappingURL=designers.css.map */
