/**
* Custom CSS styles for the image library module
* 
* @author Dean Blackborough <dean@g3d-development.com>
* @copyright G3D Development Limited
*/
#designer > #library {
    width: 1008px;
    margin-right: 2px;
    background-color: #fafafa;
    border: 1px solid #eeeeee;
    min-height: 500px;
    padding-left: 12px;
}

/* Category and sub category titles */
#designer > #library > h1 > span.link {
    font-size: 0.5em;
}
#designer > #library > h1 > span.link > a {
    color: #000000;
}

/* Filter form */
#designer > #filter {
    width: 320px;
    padding: 10px 10px 5px 10px;
    border: 1px solid #eeeeee;
    margin-bottom: 5px;
    font-size: 0.9em;
}
#designer > #filter > form {
    width: 320px;
    color: #616161;
}
#designer > #filter > form > .filter {
    width: 320px;
}
#designer > #filter > form > .filter > .input {
    width: 320px;
}
#designer > #filter > form > .filter > .save {
    width: 320px;
    text-align: right;
}
#designer > #filter > form > .filter > .input > label {
    width: 320px;
    display: block;
    font-weight: bold;
    padding-bottom: 3px;
}
#designer > #filter > form > .filter > .input > select {
    padding: 3px;
    border: 1px solid #eeeeee;
    font-family: "Segoe UI", Helvetica, Arial, "Sans-Serif";
    color: #616161;
}
#designer > #filter > form > .filter > .save > .submit {
    display: block;
    float: right;
    width: 50px;
    padding: 3px 5px 3px 5px;
    margin: 0;
    background-color: #f5f5f5;
    border: 1px solid #b0120a;
    font-family: "Segoe UI", Helvetica, Arial, "Sans-Serif";
    color: #666666;
}
#designer > #filter > form > .filter > .save > .submit:hover {
    background-color: #eeeeee;
    border: 1px solid #b0120a;
    color: #666666;
    cursor: pointer;
}

/* Image library thumbnails */
#library > .row {
    width: 1008px;
    padding-bottom: 5px;
}
#library > .row > .container {
    width: 162px;
    margin-right: 5px;
}
#library > .row > .container > .image {
    width: 160px;
    height: 120px;
    background-color: green;
    border: 1px solid #9e9e9e;
    margin-bottom: 2px;
}
#library > .row > .container > .row {
    width: 162px;
    padding-bottom: 2px;
    font-size: 0.8em;
}
#library > .row > .container > .row > .title {
    width: 162px;
}
#library > .row > .container > .row > .size {
    width: 71px;
}
#library > .row > .container > .row > .uploaded {
    width: 91px;
    text-align: right;
}
