/**
* Custom CSS styles for the template designer module
* 
* @author Dean Blackborough <dean@g3d-development.com>
* @copyright G3D Development Limited
* @version $Id: template.css 1842 2014-05-19 14:59:09Z Dean.Blackborough $
*/
#designer a:hover {
    text-decoration: none;
}
#designer a:hover {
    text-decoration: none;
}
#designer > #template {
    width: 1020px;
    margin-right: 2px;
    background-color: #FFFFFF;
    border: 1px solid #b4b4b4;
}

/* Styling for div selectors */
#designer > #template div.selected {
    background-color: #e1dc50;
}
#designer > #template div.active {
    cursor: crosshair;
}

/* Splitter boxes for split tools */
div.horizontal_splitter {
    border-bottom: 1px solid #FFFFFF;
}
div.vertical_splitter {
    border-right: 1px solid #FFFFFF;
}

/* Page container metrics */
#designer > #page_container_metrics {
	width: 340px;
    font-size: 0.9em;
}
#designer > #page_container_metrics:hover {
	cursor: pointer;
}
#designer > #page_container_metrics > .title {
	width: 330px;
	background-color: #e1e1e1;
	border: 1px solid #b4b4b4;
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
}

/* Page container metrics block */
#designer > #page_container_metrics > .metrics {
    width: 340px;
    height: 115px;
    background-image: url("/images/designer/template/page-container-metrics.png");
    background-repeat: no-repeat;
    border: 1px solid #b4b4b4;
    margin-bottom: 5px;
    display: none;
}
#designer > #page_container_metrics > .metrics > .title {
    width: 165px;
    margin: 5px 0px 0px 5px;
    color: #960505;
    font-weight: 400;
}
#designer > #page_container_metrics > .metrics > .height {
    width: 165px;
    margin: 5px 5px 0px 0px;
    color: #960505;
}
#designer > #page_container_metrics > .metrics > .border {
    color: #960505;
    font-size: 0.8em;
    width: 160px;
    margin-left: 5px;
    margin-right: 5px;
}
#designer > #page_container_metrics > .metrics > .border_top {
    margin-top: 5px;
}
#designer > #page_container_metrics > .metrics > .border_right {
    margin-top: 5px;
    text-align: right;
}
#designer > #page_container_metrics > .metrics > .border_left {
    margin-top: 30px;
}
#designer > #page_container_metrics > .metrics > .border_bottom {
    margin-top: 30px;
    text-align: right;
}
#designer > #page_container_metrics > .metrics > .width {
    color: #960505;
    font-size: 0.8em;
    width: 340px;
    margin-top: 10px;
    text-align: center;
}