/**
* Base styles for the application, just defines the global styles, 
* easy of the modules will have their own content and layout style files
* 
* @author Dean Blackborough <dean@g3d-development.com>
* @copyright G3D Development Limited
* @version $Id: app.css 1595 2014-02-20 00:38:26Z Dean.Blackborough $
*/
body {
    font-size: 62.5%;
    font-family: "Segoe UI", Helvetica, Arial, "Sans-Serif";
    margin: 0;
    padding: 0;
}
nav, article, section, pre {
    display: block;
    float: left;
}
img {
    border: 0;
}
a {
    color: #960505;
    text-decoration: none;
}
a:hover {
    color: #b40a0a;
    text-decoration: underline
}
h1, h2, h3, h4, h5, h6, h7 {
    width: 100%;
    float: left;    
}
h1.title {
    font-size: 5em;
    text-align: center;
    margin: 0.3em 0;
    font-weight: 700;
}
h1 {
    color: #960505;
    font-size: 1.8em;
    margin: 0.6em 0em 0.3em 0em;
    font-weight: 400;
}
h2 {
    color: #000000;
    font-size: 1.5em;
    margin: 0.3em 0em;
    font-weight: 400;
}
h3 {
    font-size: 1.3em;
    color: #505050;
    margin: 0.5em 0em;
    font-weight: 400;
    text-decoration: underline;
}
em {
	color: #d20f0f;
}
ul {
    margin: 0.5em 0em;
}
ul,ol { 
    float: left;
}
p.note {
	color: #960505;
	font-style: italic;
}

#container {
    width: 766px;
    margin: 0 auto;
    padding: 10px 0px 50px 0px;
    display: block;
    font-size: 1.5em;
}
#container div {
    float: left;
}

/**
* Top navigation bar
*/
nav.top_nav {
    border-bottom: 1px solid #b4b4b4;
}
ul.top_nav {
    width: 766px;
    background-color: #960505;
    font-size: 0.9em;
    padding: 0;
    margin: 0px 0px 5px 0px;
    height: 40px;
    position: relative;
}
ul.top_nav > li {
    display: block;
    float: left;
    padding: 10px;
    height: 20px;
    border-right: 1px solid #EAEAEA;
}
ul.top_nav > li.selected {
    font-weight: bold;
    background-color: #d20f0f;
}
ul.top_nav > li.selected:hover {
    background-color: #d20f0f;
}
ul.top_nav > li:hover {
    background-color: #b40a0a;
}
ul.top_nav > li > a {
    color: #FFFFFF;
    text-decoration: none;
}
ul.top_nav ul.children {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    background-color: #960505;
    display: none;
    border-top: 1px solid #FFFFFF;
}
ul.top_nav > li:hover ul.children {
    display: block;
}
ul.top_nav ul.children > li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #EAEAEA;
    font-weight: normal;
}
ul.top_nav ul.children > li > a {
    color: #FFFFFF;
    text-decoration: none;
}
ul.top_nav ul.children > li:hover {
    background-color: #b40a0a;
}

/* Content pages */
#content {
    width: 766px;
    color: #505050;
}
#content > p {
    margin: 1em 0em;
    line-height: 1.5em;
}
#content > p.notice {
    border: 4px double #960505;
    padding: 2em;
    margin: 2em 5em 0em 5em;
    background-color: #f5f5f5;
    font-style: italic;
    font-size: 1.2em;
}
p.dev {
    border: 4px double #960505;
    padding: 1em;
    margin: 0em 3em;
    background-color: #f5f5f5;
    font-style: italic;
    font-size: 0.9em;
}
#content > p.in_progress {
    color: #00960a;
    font-style: italic;
}
#content > ul {
    width: 726px;
    padding: 0px 0px 0px 40px;
    float: left;
}
#content > ol {
    width: 726px;
    padding: 0px 0px 0px 40px;
    float: left;
}
#content > p.i {
    font-style: italic;
}

/* Base form styling */
form,dl,dt,dd {
    display: block;
    margin: 0;
    padding: 0;
}
form > dl > dt {
    display: none;
}

/* General table title row styling */
div.table {
    width: 766px;
}
div.table > .title_row {
    width: 766px;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 2px solid #b4b4b4;
    margin-bottom: 5px;
}
div.table .title {
    font-weight: bold;
}
div.table > .row {
    width: 766px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 5px;
}
div.table .cell {
    padding: 5px;
}

/* Development log table styling */
div.table div.timestamp {
    width: 140px;
}
div.table div.change {
    width: 606px;
}
div.table div.release {
    color: #960505;
    font-weight: bold;
}

/* Default pagination text styling */
#content ul.pagination {
    width: 766px;
    float: left;
    padding: 5px 0px 5px 0px;
    list-style-type: none;
    margin-bottom: 10px;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    text-align: center;
}
#content ul.pagination li {
    display: inline;
    padding-right: 10px;
}

/* Footer styling */
#footer {
    width: 766px;
    padding-top: 20px;
}
#footer > p {
    text-align: center;
    font-size: 0.8em;
}