/**
* Base styles for the designers
* 
* @author Dean Blackborough <dean@g3d-development.com>
* @copyright G3D Development Limited
* @version $Id: designer.css 1961 2014-06-17 00:01:52Z Dean.Blackborough $
*/
#container {
    width: 1366px;
}
/* Main navigation bar */
nav.top_nav {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 5px;
}
ul.top_nav {
    width: 1366px;
}
#designer {
    width: 1366px;
    margin-bottom: 30px;
}
#designer > #tools {
    width: 320px;
    padding: 10px 10px 5px 10px;
    border: 1px solid #eeeeee;
    margin-bottom: 5px;
    font-size: 0.9em;
}
#designer > #ribbon {
    width: 320px;
    padding: 10px;
    border: 1px solid #eeeeee;
}

/* Tool styles */
#designer > #tools .group {
    width: 320px;
}
#designer > #tools .tool {
    padding: 5px;
    margin: 0px 5px 5px 0px;
    background-color: #fafafa;
    border: 1px solid #eeeeee;
}
#designer > #tools .tool:hover {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
}
#designer > #tools .selected {
    background-color: #eeeeee;
    border: 1px solid #e0e0e0;
}
#designer > #tools .destructive {
    text-decoration: line-through;
}
#designer > #tools .tool a {
    color: #424242;
}

#footer {
    width: 1366px;
    padding-top: 20px;
}

/** Unsaved preview message */
#designer > #ribbon > .content > p.unsaved {
	width: 318px;
	background-color: #d01716;
	color: #FFFFFF;
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 5px 0px;
	border: 1px solid #eeeeee;
	display: none;
    font-size: 0.8em;
}