/**
* Base css file for the ribbon, contains all the styles that are shared among 
* the modules, custom styles sit in the ribbon sub folder
* 
* @author Dean Blackborough <dean@g3d-development.com>
* @copyright G3D Development Limited
* @version $Id: ribbon.css 1961 2014-06-17 00:01:52Z Dean.Blackborough $
*/

/* Ribbon tab and content styling */
#designer > #ribbon > .tabs {
    width: 320px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background-color: #fafafa;
    margin-bottom: 5px;
    font-size: 0.9em;
}
#designer > #ribbon > .tabs > .tab {
    padding: 5px 10px 5px 10px;
    border-right: 1px solid #eeeeee;
    cursor: pointer;
    font-weight: 400;
}
#designer > #ribbon > .tabs > .tab:hover {
    background-color: #f5f5f5;
    border-right: 1px solid #e0e0e0;
}
#designer > #ribbon > .tabs > .selected {
    background-color: #eeeeee;
    border-right: 1px solid #e0e0e0;
}
#designer > #ribbon > .tabs > .selected:hover {
    background-color: #eeeeee;
    border-right: 1px solid #e0e0e0;
}
#designer > #ribbon > .content {
    width: 320px;
    display: none;
}
#designer > #ribbon > .open {
    display: block;
}

/* Text content for ribbon */
#designer > #ribbon > .content > h2 {
    margin: 0.3em 0em;
    font-weight: 400;
    width: 320px;
    color: #d01716;
}
#designer > #ribbon > .content > p {
    margin: 1em 0em;
    line-height: 1.5em;
}
#designer > #ribbon > .content > p.dev {
    border: 1px solid #dd191d;
    padding: 1em;
    margin: 0em 2em 1em 2em;
    background-color: #fafafa;
    font-style: italic;
    font-size: 0.9em;
}

#designer > #ribbon > .content > ul {
    margin: 0px;
    width: 280px;
    padding-left: 40px;
}
#designer > #ribbon > .content > ul {
    width: 280px;
}

/* Color picker */
#designer > #ribbon > .content .color_picker_tool {
	width: 308px;
	padding: 5px;
	border: 1px solid #eeeeee;
	background-color: #fafafa;
	display: none;
}
#designer > #ribbon > .content .color_picker_tool p {
	width: 308px;
}
#designer > #ribbon > .content .color_picker_tool h2 {
	font-size: 1.3em;
    margin: 0.5em 0em;
}
#designer > #ribbon > .content .color_picker_tool h3 {
	width: 308px;
	font-size: 1em;
	margin: 5px 0px 5px 0px;
    text-decoration: none;
}
#designer > #ribbon > .content .color_picker_tool > .palette {
	width: 308px;
	padding-bottom: 5px;
}
#designer > #ribbon > .content .color_picker_tool > .palette > .color {
	width: 98px;
	border: 1px solid #e0e0e0;
	line-height: 20px;
	margin: 0px 2px 2px 0px;
}
#designer > #ribbon > .content .color_picker_tool > .palette > .color:hover {
	cursor: pointer;
}
#designer > #ribbon > .content .color_picker_tool > .palette > .label {
	width: 100px;
	text-align: center;
	font-size: 0.8em;
}
#designer > #ribbon > .content .color_picker_tool > .history {
	width: 308px;
	padding-bottom: 5px;
}
#designer > #ribbon > .content .color_picker_tool > .history > .color {
	width: 98px;
	border: 1px solid #e0e0e0;
	line-height: 20px;
	margin: 0px 5px 2px 0px;
}
#designer > #ribbon > .content .color_picker_tool > .history > .color:hover {
	cursor: pointer;
}
#designer > #ribbon > .content .color_picker_tool > .history > .label {
	width: 203px;
	line-height: 22px;
	margin-bottom: 2px;
	font-size: 0.8em;
}
#designer > #ribbon > .content .color_picker_tool > .custom > input {
	width: 80px;
    border: 1px solid #e0e0e0;
}
#designer > #ribbon > .content .color_picker_tool > .close {
	width: 308px;
	text-align: right;
}

/* Blocks to replace color inputs, invokes color pickers */
#designer > #ribbon > .content .color_picker {
	width: 98px;
	border: 1px solid #b4b4b4;
	line-height: 24px;
	margin: 0px 5px 2px 0px;
}
#designer > #ribbon > .content .color_picker:hover {
	cursor: pointer;
}