/**
* Base styles for the settings sections
*
* @author Dean Blackborough <dean@g3d-development.com>
* @copyright G3D Development Limited
* @version $Id: settings.css 1568 2014-02-14 14:59:50Z Dean.Blackborough $
*/

/* Settings section bar */
nav.settings {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
}
ul.settings {
    width: 766px;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    list-style-type: none;
    float: left;
    background-color: #fafafa;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    font-size: 0.9em;
}
ul.settings > li {
    display: block;
    float: left;
    padding: 5px 10px;
    border-right: 1px solid #eeeeee;
}
ul.settings > li.selected {
    background-color: #eeeeee;
    border-right: 1px solid #e0e0e0;
}
ul.settings > li.selected:hover {
    background-color: #eeeeee;
}
ul.settings > li:hover {
    background-color: #f5f5f5;
    border-right: 1px solid #e0e0e0;
}
ul.settings > li a:hover {
    text-decoration: none;
}

/* Setting groups bar */
nav.setting_groups {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
}
ul.setting_groups {
    width: 766px;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    list-style-type: none;
    float: left;
    background-color: #b0120a;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    font-size: 0.9em;
}
ul.setting_groups > li {
    display: block;
    float: left;
    padding: 5px 10px;
    border-right: 1px solid #eeeeee;
}
ul.setting_groups > li.selected {
    background-color: #dd191d;
}
ul.setting_groups > li.selected:hover {
    background-color: #dd191d;
}
ul.setting_groups > li:hover {
    background-color: #d01716;
}
ul.setting_groups > li a {
    color: #FFFFFF;
}
ul.setting_groups > li a:hover {
    text-decoration: none;
}